<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">
            <img alt="Brand" src="/assets/img/jp_logo.png" id="brand-logo">
        </a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
        </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li *ngFor="let category of navigation" [class.dropdown]="category.areas.length > 0">

                <!-- CATEGORIES -->
                <a routerLink="/{{ category.id }}" data-toggle="dropdown" class="dropdown-toggle"  aria-haspopup="true" aria-expanded="false">
                    <span>{{category.title}}</span>
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li *ngFor="let area of category.areas" [class.dropdown-submenu]="area.sub_areas.length > 0">

                        <!-- AREAS -->
                        <a routerLink="/{{ category.id }}/{{ area.id}}" (click)="goToArea(category.id, area.id)" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">   
                            {{area.title}}
                        </a>

                        <ul class="dropdown-menu" *ngIf="area.sub_areas.length > 0">

                            <!-- SUBAREAS -->
                            <li [class.dropdown-submenu]="subArea.children.length > 0" *ngFor="let subArea of area.sub_areas">
                                <a routerLink="/{{ category.id}}/{{ area.id }}/{{ subArea.id}}" (click)="goToSubArea(category.id, area.id, subArea.id)">{{subArea.title}}</a>

                                <ul class="dropdown-menu" *ngIf="subArea.children.length > 0">

                                    <!-- CHILDREN -->
                                    <li *ngFor="let child of subArea.children">
                                        <a routerLink="/{{ category.id}}/{{ area.id }}/{{ subArea.id}}/{{ child.id}}" (click)="goToChild(category.id, area.id, subArea.id, child.id)">{{child.title}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>