<div class="row">
	
	<div class="col-xs-3">
		<div class="box border-blue">
		    <h2 class="background-blue">Category Tab</h2>
		    <p>{{routes.category}}</p>
		</div>
	</div>
	
	<div class="col-xs-3">
		<div class="box border-green">
		    <h2 class="background-green">Area Tab</h2>
		    <p>{{routes.area}}</p>
		</div>
	</div>
	
	<div class="col-xs-3">
		<div class="box border-yellow">
		    <h2 class="background-yellow">subArea View</h2>
		    <p>{{routes.subArea}}</p>
		</div>
	</div>
</div>